<div id="loginModal" class="modal">
    <div class="modal-content">
        <p>You must log in to submit a macro</p>
        <button id="loginButton">Sign In</button>
        <button id="returnButton" class="returnButton">Go Back</button>
    </div>
</div>

<script src="/js/loginModal.js"></script>