<nav class="topbar">
    <div class="left">
        <a href="/" class="logo">Home</a>
        <a href="/upload-macro">Upload Macro</a>
        <a href="/browse-macros">Browse Macros</a>
    </div>

    <div class="right">
        <% if (currentUser) { %>
            <div class="settings-menu" id="settings-menu" style="position: relative; display: flex;">
                <div class="user-trigger" id="user-trigger" style="display: flex; align-items: center; cursor: pointer;">
                    <span class="username">@<%= currentUser.globalName || currentUser.username %></span>
                    <img class="avatar" src="<%= currentUser.displayAvatarURL({ size: 64 }) %>">
                </div>
                <div id="settings-dropdown" class="settings-dropdown">
                    <button id="logout-button" class="logout-button">Log Out</button>
                </div>
            </div>
        <% } else { %>
            <a href="/sign-in" id="sign-in">Sign in</a>
        <% } %>
    </div>
</nav>

<script src="/js/navbar.js"></script>