<!DOCTYPE html>
<html lang="en">

<head>
    <title>GD Macro Sharing</title>
    <link rel="icon" href="/assets/logo.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <script>
        const params = new URLSearchParams(window.location.search);
        const code = params.get('code');
        const returnUrl = params.get('state') || '/';

        if (!code) {
            window.location.href = '/sign-in'; 
        } else {
            fetch('/api/auth/callback', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ code: code })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    window.location.href = decodeURIComponent(returnUrl);
                } else {
                    console.log("[ERROR] Login failed: ", data.error);
                }
            })
            .catch(error => console.log("[ERROR] Auth Error:", error));
        }
    </script>
</body>

</html>