<!DOCTYPE html>
<html lang="en">

<head>
    <title>GD Macro Sharing</title>
    <link rel="icon" href="/assets/logo.ico" type="image/x-icon">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav class="topbar">
    <div class="left">
      <a href="/" class="logo">Home</a>
      <a href="/submit-macro">Submit Macro</a>
      <a href="/browse-macros">Browse Macros</a>
    </div>

    <div class="right">
      <a href="/sign-in" id="sign-in">Sign in</a>
      <span id="username" class="username" style="display: none;"></span>
      <img class="avatar" id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
    </div>
  </nav>

  <section class="intro">
    <h1>Welcome to GD Macro Sharing</h1>
    <p>Here you can upload your Geometry Dash macros or browse macros other users have created</p>
  </section>

  <script src="/js/index.js"></script>
</body>

</html>