<!DOCTYPE html>
<html lang="en">

<head>
  <title>Macro Submitted</title>
  <link rel="icon" href="/assets/logo.ico" type="image/x-icon">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="container">
    <div class="form-wrapper">
      <h1>Macro has been submitted. Go back and check discord.</h1>

      <a href="/submit-macro">
        <button type="button" id="submitAnother">Submit another?</button>
      </a>
    </div>
  </div>
</body>

</html>