<!DOCTYPE html>
<html lang="en">

<head>
    <title>Macro Submitted</title>
    <link rel="icon" href="/assets/logo.ico" type="image/x-icon">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <div class="form-wrapper">
      <h1>Macro has been submitted. Go back and check discord.</h1>
      <button type="submitAnother" id="submitAnother">Submit another?</button>
    </div>
  </div>

  <nav class="topbar">
    <div class="left">
      <a href="/" class="logo">Home</a>
      <a href="/submit-macro">Submit Macro</a>
      <a href="/browse-macros">Browse Macros</a>
    </div>

    <div class="right">
      <span id="username" class="username"></span>
      <img class="avatar" id="avatar">
    </div>
  </nav>

  <div id="loginModal" class="modal" style="display: none;">
    <div class="modal-content">
      <p>You must log in to submit a macro</p>
      <button id="loginButton">Sign In</button>
      <button id="returnButton" class="returnButton">Go Back</button>
    </div>
  </div>

  <script src="/js/macro-submitted.js"></script>
</body>

</html>